* {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  background-color: whitesmoke;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calc {
  width: 300px;
  height: 400px;
  border: 3px solid grey;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
  gap: 4px;
  background-color: white;
}
.screen {
  padding: 0 16px;
  width: 100%;
  height: 20%;
  background-color: grey;
  border-radius: 20px;
  text-align: right;
  color: white;
  font-size: 32px;
}
.screen:focus {
  outline: none;
}
.btns {
  margin-top: 8px;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  place-items: center;
}
.numbers {
  height: 100%;
  width: 100%;
  grid-column: 1 / 4;
  grid-row: 2 / 6;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  place-items: center;
}
.numbers > .btn {
  background-color: black;
  border: none;
  color: #e8eaed;
}
.numbers > .btn:hover {
  background-color: #3e3e3e;
  color: white;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: large;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border: none;
  border: 2px solid grey;
  border-radius: 10px;
}
.btn-svg {
  height: 50%;
  width: 50%;
  stroke: black;
}
.bi-backspace {
  height: 40%;
}
.history {
  border: 3px solid grey;
  border-left: none;
  margin-left: -20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  width: 300px;
  height: 400px;
  border-radius: 0 20px 20px 0;
  padding: 20px 10px 20px 30px;
  transition: all 0.3s ease;
}
.history-list,
.history-list > li {
  list-style: none;
  width: 100%;
}
.invisible {
  display: none;
}
.history-list {
  padding: 20px;
}
#history-heading {
  display: grid;
  grid-template-columns: 220px 40px;
  width: 100%;
  height: 30px;
}
.hide-history {
  border: none;
  background-color: whitesmoke;
  grid-column: 2 / 3;
  cursor: pointer;
  font-size: 20px;
}
.hide-history:hover {
  color: dimgrey;
}
.heading {
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  padding-left: 80px;
}
