* {
  width: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  background-color: whitesmoke;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calc {
  width: 300px;
  height: 400px;
  border: 3px solid grey;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
  gap: 4px;
}
.screen {
  width: 100%;
  height: 20%;
  background-color: grey;
  border-radius: 20px;
}
.btns {
  margin-top: 8px;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  place-items: center;
}
.numbers {
  height: 100%;
  width: 100%;
  grid-column: 1 / 4;
  grid-row: 2 / 6;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  place-items: center;
}
.numbers > .btn {
  background-color: black;
  border: none;
  color: #e8eaed;
}
.numbers > .btn:hover {
  background-color: #3e3e3e;
  color: white;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: large;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border: none;
  border: 2px solid grey;
  border-radius: 10px;
}
.btn-svg {
  height: 50%;
  width: 50%;
  stroke: black;
}
.bi-backspace {
  height: 40%;
}
