*{font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8d99ae;
}
.main{
    background-color: transparent;
    height: 50vh;
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.product1, .product2, .product3{
    background-color: #edf2f4;
    height: 48vh;
    width: 18vw;
    border-radius:15px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.img1, .img2, .img3{
    height: 150px;
    width: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius:10px;
    margin-top: 10px;
    background-color: #ffffff;

    
}
.img1{
    background-image: url("./assets/nb530.png");
}
.img2{
    background-image: url("./assets/samba.png");
}
.img3{
    background-image: url("./assets/solovair.png");
}
.desc{
    margin:10px 0 20px 0;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;

}

.btn{
    background-color: #ffffff;
    font-weight: bold;
    border: none;
    width: 100px;
    padding: 4px 8px;
    border-radius: 5px;
}

.btn:hover{
    color: #ffffff;
    background-color: #8d99ae;
}


