* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  padding: 40px;
  text-align: center;
}
button {
  padding: 4px 8px;
  border-radius: 12px;
  border: 1px solid grey;
}
.stop-watch-time {
  margin: 24px 0;
}
