* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --bg-color: #111111;
    --font-color-medium: #9a9a9a;
    --font-color-light:#bababa;
    --shadow-color: #232323;
    --red: #aa0000;
}
.main {
    height: 100vh;
    width: 100vw;
    background-color: var(--bg-color);
    color: var(--font-color-medium);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.nav {
    height: 5vh;
    padding: 4px 8px;
    display: flex;
    justify-content: space-between;
    box-shadow: 2px 2px 4px var(--shadow-color);
}

.hero {
    height: 90vh;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--font-color-light);
}

.footer {
    height: 5vh;
    display: flex;
    justify-content: center;
}
.logout-btn{
    color: var(--red);
    border: 2px solid var(--red);
    background-color: var(--bg-color);
    padding: 0 8px;
    border-radius: 20%;
}
