:root {
    --bg-color: #232323;
    --font-color: whitesmoke;
    --bg-form: #ccc5b9;
    --border-color: #fffcf2;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--bg-color);
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}
h2 {
    color: var(--font-color);
}
.login-form {
    width: 300px;
    height: 300px;
    background-color: var(--bg-form);
    border: 2px solid var(--border-color);
    border-radius: 10px;
}
.main {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
